.git
.github
target
!target/
target/*
!target/release/
target/release/*
!target/release/latlng-server
!target/release/latlng-server.exe
external-projects
requirements

packages/sdk/node_modules
packages/sdk/dist
packages/worker/node_modules
packages/worker/dist
packages/worker/pkg

**/.DS_Store
